/.vscode
/cv_lab2-ER1562.ipynb
/cv_lab3.ipynb
/cv_lab4.ipynb
/cv_lab6.ipynb
/cv_lab7.ipynb
/cv_lab_5.ipynb
/ekursy.put.poznan.pl_pluginfile.php_1639102_mod_resource_content_1_cv_lab1.ipynb
/img
/lena_std.tif
/output.png
/project
/project_2
/project_3/data/train/*.jpg
/project_3/data/train/*.png
/project_3/data/test/*.jpg
/project_3/data/test/*.png
/project_3/models
project_3/utils/__pycache__/callbacks.cpython-311.pyc
project_3/utils/__pycache__/config.cpython-311.pyc
project_3/utils/__pycache__/dataset_mappings.cpython-311.pyc
project_3/utils/__pycache__/metrics.cpython-311.pyc
project_3/utils/__pycache__/normalization.cpython-311.pyc
project_3/utils/__pycache__/prediction.cpython-311.pyc
project_3/data.7z
project_3/graph.ipynb
project_3/flagged/log.csv
